@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: Inter, system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}




/* // for floating leaves  */

@keyframes leaf-rise {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }

  10% {
    opacity: 0.7;
  }

  50% {
    transform: translateY(-45vh) translateX(25px) rotate(180deg);
    opacity: 0.5;
  }

  80% {
    opacity: 0.35;
  }

  100% {
    transform: translateY(-110vh) translateX(-30px) rotate(360deg);
    opacity: 0;
  }

}

.animate-leaf-rise {
  animation-name: leaf-rise;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}